@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #16130b;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.icon-fill {
  font-variation-settings: 'FILL' 1;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #38342b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d4635;
}

.glass-panel {
  background: rgba(22, 19, 11, 0.4);
  backdrop-filter: blur(20px);
